[Unit]
Description=Gigi Discord Bot Docker Compose Service
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/gigi-discord-bot
EnvironmentFile=/etc/gigi-discord-bot/gigi-discord-bot.env
ExecStart=/usr/bin/docker compose --env-file /etc/gigi-discord-bot/gigi-discord-bot.env -f /opt/gigi-discord-bot/compose.yaml up -d
ExecStop=/usr/bin/docker compose --env-file /etc/gigi-discord-bot/gigi-discord-bot.env -f /opt/gigi-discord-bot/compose.yaml down
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
